<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h2 class="white-text">Practice Point</h2>
        <p class="grey-text text-lighten-4">A simple platform for brain development</p>
        <a target="_blank" href="https://www.facebook.com/practisepoint.com.au" class="fa fa-facebook"></a>
        <a target="_blank" href="https://twitter.com/practisepoint" class="fa fa-twitter"></a>
        <a target="_blank" href="https://plus.google.com/u/0/113570005248286138447" class="fa fa-google"></a>
        <!--<a target="_blank" href="#" class="fa fa-linkedin"></a>
        <a target="_blank" href="#" class="fa fa-youtube"></a>
        <a target="_blank" href="#" class="fa fa-instagram"></a>-->
        <ul id="nav-mobile" class=" ">
          <li>
            <a class="grey-text text-lighten-3" href="/aboutus">About Us</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/contactus">Contact Us</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/privacypolicy">Privacy Policies</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/termsandconditions">Terms and Conditions</a>
          </li>
        </ul>
      </div>
      <div class="col l3 offset-4 s12">
        <h2 class="white-text">DKT Test Links</h2>
        <ul id="nav-mobile" class=" ">
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181003FL1">45 questions practice test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181127ALL">All questions in one test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3"  href="/quiz/DKTNSW00E181003GK1">General Knowledge test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3"  href="/quiz/DKTNSW00E181127AD1">Alcohol and Drugs test</a>
          </li>
          <li>
            <a  class="grey-text text-lighten-3"  href="/quiz/DKTNSW00E181127BS1">Bicycle Safety test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181127FD1">Fatigue and Defensive Driving</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181127I01">Intersections test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181126TL1">Traffic Lights/Lanes test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181126ND1">Negligent Driving test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181127P01">Pedestrians test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181127SB1">Seat Belts/Restraints test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181127SP1">Speed Limits test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/quiz/DKTNSW00E181003TS1">Traffic Signs test</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3"  target="_blank" href="https://practisepoint.blogspot.com">Practise Point Blog</a>
          </li>
        </ul>
      </div>

      <div class="col l3 offset-4 s12">
        <h2 class="white-text">Speech Development Links</h2>
        <ul id="nav-mobile" class=" ">
          <li>
            <a class="grey-text text-lighten-3" href="/speechdevelopment">Speech Development- Main</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/age1speechdevelopment">Speech Development- Age 1</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/age2speechdevelopment">Speech Development- Age 2</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/age3speechdevelopment">Speech Development- Age 3</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/age4speechdevelopment">Speech Development- Age 4</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018-2021 PractisePoint, All rights reserved.
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
    </div>
  </div>
</footer>



