<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h2>Sorry, page not found!</h2>
      </div>

      <div class="col s12 m10 l8 offset-s3" align="center">
        <img src="/assets/img/error-page.jpg"  class="offset-s3 responsive-img" alt="dkt practise test main image">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <p align="center">Oh no, we looked everywhere! <br/><br/>
          Sorry, we can’t find the page you are looking for. <br/><br/>

          Don't worry you can still navigate from <a href="https://practisepoint.com">here</a>.</p>
        <br/><br/></div>

    </div>
  </div>
</div>
<app-footer></app-footer>
