<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l10 offset-s3">
<div style="text-align: center;">
  <h1>
    "New India" a dream of Narendra Modi</h1>
  Article 370 abolished, Jammu and Kashmir is converted into union territory.<br />

</div>
    <div class="col s12 m10 l12 offset-s3">
<!-- Clarity Section -->
<div class="container">
  <div class="row">
    <div class="column-33">
      <img alt="App" height="471" src="https://1.bp.blogspot.com/-pif5_m3sFyI/XU5cji3jamI/AAAAAAAAAMo/zNz-Jc0VK2c3TtEmhrWQo7Ay7mFbJDyIwCEwYBhgL/s1600/practisepoint_Indian_Independence.jpg" width="335" />
    </div>
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Indian Independence</b></h1>
      <h1 class="large-font" style="color: red;">
        <b>Gandhi, who?</b></h1>
      <span style="font-size: 24px;">Inqlaab Zindanbad! </span> The Indian Independence movement was a series of activities which lead to end the British rule from India. There were many periodical movements, under Mahatma Gandhi, Subhash Chandra Bose, Bhagat Singh, which led to India's independence in 1947. The movement spanned  a total of 90 years (1857–1947).<br /> <br />

      <a href="https://gkpractisepoint.blogspot.com/2019/08/indian-independence-quiz-page1.html"> <button class="button" style="background-color: red;">Quiz on Indian Independence</button></a>

      <a target="_blank" href="https://gk.practisepoint.com/2019/08/indian-independence.html"><button class="button">Indian Independence Movements</button></a>
    </div>
  </div>
</div>
<!-- The App Section -->
<div class="container" style="background-color: #f1f1f1;">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>28 states</b></h1>
      <h1 class="large-font" style="color: mediumseagreen;">
        <b>9 union territories</b></h1>
      <span style="font-size: 36px;">New India </span>is a seventh-largest country by area, the second-most populous country, and the most populous democracy in the world.
      India is famous for great Independence revolution and its leaders, like Mahatma Gandhi, Narendra Modi, Indira Gandhi etc..<br /> <br />

      <a href="https://gkpractisepoint.blogspot.com/2019/08/top-20-best-gk-questions-on-india_10.html"> <button class="button">Ouiz On India</button></a>
    </div>
    <div class="column-33">
      <img height="471" src="https://1.bp.blogspot.com/-riUIMZDavbs/XUuGU68LlxI/AAAAAAAAALg/0ig8CvxhRoklV6vNZdQ3ZsUAIFiB9bQ1ACLcBGAs/s320/india-flag.jpg" width="335" />
    </div>
  </div>
</div>
    </div>
  </div>
</div>
<app-footer></app-footer>
