<app-navbar></app-navbar>
<div style="text-align: center;">
  <h1 class="xlarge-font">
    Indian Independence</h1>
  <h1>
    A common story of all freedom fighters in chronological order.</h1>
  <br />

</div>
<!-- Rebellion of 1857 -->
<div class="container">
  <div class="row">
    <div class="column-33">
      <img alt="App" height="471" src="https://1.bp.blogspot.com/-pif5_m3sFyI/XU5cji3jamI/AAAAAAAAAMo/zNz-Jc0VK2c3TtEmhrWQo7Ay7mFbJDyIwCEwYBhgL/s1600/practisepoint_Indian_Independence.jpg" width="335" />
    </div>
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Rebellion of 1857</b></h1>
      <h1 class="large-font" style="color: red;">
        <b>10 May 1857 at Meerut | Mangal Pandey</b></h1>
      <span style="font-size: 24px;">The Indian Rebellion of 1857</span> is an another name of the "Indian Mutiny" where Indian soldiers working in British army refuse to obey the orders. Intersting fact is there were 3,00,000 Indian soldiers compare to 50,000 British troops. This was North India's First attempt to get Independence. It started on 10 May 1857 at Meerut when Mangal Pandey attacked British officer.<br /> <br />

      <a href="https://gk.practisepoint.com/2019/08/indian-independence-p1-rebellion-of-1857.html" target="_blank"> <button class="button" style="background-color: red;">Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" >Quiz Collection</button></a>
    </div>
  </div>
</div>
<!-- End of the East India Company, 1858 -->
<div class="container" style="background-color: #f1f1f1;">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>End of the East India Company, 1858</b></h1>
      <h1 class="large-font" style="color: mediumseagreen;">
        <b>Empress of India - Queen Victoria</b></h1>
      <span style="font-size: 36px;">The Rebellion of 1857 </span>was foundation of Indian Independence. British never imagined such a strong opposition from their own soldiers( offcourse Indian soldiers working under British Army). Although British Army suppressed the rebellions in June 1958, but still the Parliament of the United Kingdom removed the right of the British East India Company to rule India in November 1858. The United Kingdom decided to rule India directly through the Governor General (Viceroy). Thus, it included India as a part of the British Empire. Later, Queen Victoria used to call Empress of India. .<br /> <br />

      <a href="https://gk.practisepoint.com/2019/08/indian-independence-p2-end-of-east-india.html" target="_blank"> <button class="button">Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" style="background-color: red;">Quiz Collection</button></a>
    </div>
    <div class="column-33">
      <img height="471" src="https://1.bp.blogspot.com/-riUIMZDavbs/XUuGU68LlxI/AAAAAAAAALg/0ig8CvxhRoklV6vNZdQ3ZsUAIFiB9bQ1ACLcBGAs/s320/india-flag.jpg" width="335" />
    </div>
  </div>
</div>
<!-- Clarity Section -->
<div class="container">
  <div class="row">
    <div class="column-33">
      <img alt="App" height="471" src="https://1.bp.blogspot.com/-pif5_m3sFyI/XU5cji3jamI/AAAAAAAAAMo/zNz-Jc0VK2c3TtEmhrWQo7Ay7mFbJDyIwCEwYBhgL/s1600/practisepoint_Indian_Independence.jpg" width="335" />
    </div>
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Formation of INC, December 1885</b></h1>
      <h1 class="large-font" style="color: red;">
        <b>Founder of INC - A.O. Hume</b></h1>
      <span style="font-size: 24px;">British Empire</span> came into existence after Rebellion of 1857. The Governor-General wanted to improve the governance of India with the participation of English-educated Indians. During same time, Retired British Indian Civil Service (ICS) officer Allan Octavian Hume (also known as A.O. Hume) thought to form a group of educated Indians to discuss civil and political situation of India in British Empire. Thus, on 28 December 1885, the Indian National Congress (INC) was founded at Gokuldas Tejpal Sanskrit College in Bombay, with 72 delegates in attendance..<br /> <br />

      <a href="https://gk.practisepoint.com/2019/08/indian-independence-p3-formation-of-inc.html" target="_blank"> <button class="button" style="background-color: red;">Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" >Quiz Collection</button></a>
    </div>
  </div>
</div>
<!-- The App Section -->
<div class="container" style="background-color: #f1f1f1;">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Partition of Bengal, July 1905</b></h1>
      <h1 class="large-font" style="color: mediumseagreen;">
        <b>Governor-General - Lord Curzon</b></h1>
      <span style="font-size: 36px;">Lord Curzon</span>, the Viceroy and Governor-General of British Raj, ordered the partition of Bengal in July 1905. He justified the partition for improvements in administrative efficiency in the huge region covering Bengal, Bihar and Orissa. However, the Indians took partition as an attempt to disrupt the growing national movement in Bengal and divide the Hindus and Muslims of the region..<br /> <br />

      <a href="https://gk.practisepoint.com/2019/08/indian-independence-p4-partition-of.html" target="_blank"> <button class="button">Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" style="background-color: red;">Quiz Collection</button></a>
    </div>
    <div class="column-33">
      <img height="471" src="https://1.bp.blogspot.com/-riUIMZDavbs/XUuGU68LlxI/AAAAAAAAALg/0ig8CvxhRoklV6vNZdQ3ZsUAIFiB9bQ1ACLcBGAs/s320/india-flag.jpg" width="335" />
    </div>
  </div>
</div>
<!-- Arrival of Mahatma Gandhi, 1915 -->
<div class="container">
  <div class="row">
    <div class="column-33">
      <img alt="App" height="471" src="https://1.bp.blogspot.com/-pif5_m3sFyI/XU5cji3jamI/AAAAAAAAAMo/zNz-Jc0VK2c3TtEmhrWQo7Ay7mFbJDyIwCEwYBhgL/s1600/practisepoint_Indian_Independence.jpg" width="335" />
    </div>
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Arrival of Mahatma Gandhi, 1915</b></h1>
      <h1 class="large-font" style="color: red;">
        <b>Gandhi, who?</b></h1>
      <span style="font-size: 24px;">Mahatma Gandhi</span> studied from UCL Faculty of Law at London. After completing his studies, he went to South Africa to be the lawyer for Abdullah's cousin. He spent 21 years in South Africa.  Gandhi returned to India on 9 January 1915. Gopal Krishna Gokhale became Gandhi's mentor.<br /> <br />

      <a href="https://gk.practisepoint.com/2019/08/indian-independence-p5-mahatma-gandhi.html" target="_blank"> <button class="button" >Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" style="background-color: red;">Quiz Collection</button></a>
    </div>
  </div>
</div>
<!-- The App Section -->
<div class="container" style="background-color: #f1f1f1;">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Jallianwala Bagh Genocide, April 1919</b></h1>
      <h1 class="large-font" style="color: mediumseagreen;">
        <b>Brigadier-General Reginald Dyer</b></h1>
      <span style="font-size: 36px;">After World War I</span>, British tried to bring reforms in India in 1917. The positive impact of reform was seriously undermined in 1919 by the Rowlatt Act recommendation made by the Rowlatt Committee. The main purpose of Rowlatt Act was to analyse the war-time conspiracies by nationalist. It gave super powers to Viceroy like detaining political activists and arresting people without warrant. to oppose Rowlatt Act, a nationwide hartal (cessation of work) was called by activist. The agitation lead to Jallianwala Bagh massacre (or Amritsar Massacre) on 13 April 1919, in Amritsar, Punjab. The British military commander, Brigadier-General Reginald Dyer, blocked the main, and only entrance, and ordered his soldiers to fire into an unarmed and unsuspecting crowd of some 15,000 men, women, and children.<br /> <br />

      <a href="https://gk.practisepoint.com/2019/08/indian-independence-p6-jallianwala-bagh.html" target="_blank"> <button class="button" style="background-color: red;">Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" >Quiz Collection</button></a>
    </div>
    <div class="column-33">
      <img height="471" src="https://1.bp.blogspot.com/-riUIMZDavbs/XUuGU68LlxI/AAAAAAAAALg/0ig8CvxhRoklV6vNZdQ3ZsUAIFiB9bQ1ACLcBGAs/s320/india-flag.jpg" width="335" />
    </div>
  </div>
</div>
<!-- Arrival of Mahatma Gandhi, 1915 -->
<div class="container">
  <div class="row">
    <div class="column-33">
      <img alt="App" height="471" src="https://1.bp.blogspot.com/-pif5_m3sFyI/XU5cji3jamI/AAAAAAAAAMo/zNz-Jc0VK2c3TtEmhrWQo7Ay7mFbJDyIwCEwYBhgL/s1600/practisepoint_Indian_Independence.jpg" width="335" />
    </div>
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>The Non-Cooperation Movement, 1920-1922</b></h1>
      <h1 class="large-font" style="color: red;">
        <b>Swadeshi movement</b></h1>
      <span style="font-size: 24px;">The Non-Cooperation Movement</span>  was led by Mahatma Gandhi after the Jallianwala Bagh Massacre from 1 August 1920 to February 1922. The main objective was to resist British rule by non-violent (Ahinsa). People opted domestic products instead of British goods. The movement was withdrawn after Chauri Chaura incident where protesters clashed with police. Police opened the fire on protesters and in retaliation protesters set the fire in police station.<br /> <br />

      <a href="https://gk.practisepoint.com/2019/08/indian-independence-p7-non-cooperation.html" target="_blank"> <button class="button" style="background-color: red;">Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" >Quiz Collection</button></a>
    </div>
  </div>
</div>
<!-- The App Section -->
<div class="container" style="background-color: #f1f1f1;">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Purna Swaraj, 19 December 1929</b></h1>
      <h1 class="large-font" style="color: mediumseagreen;">
        <b>Bhagat Singh and Indian National Congress</b></h1>
      <span style="font-size: 36px;">The Purna Swaraj</span> (or declaration of the Independence of India) was announced by the Indian National Congress on 19 December 1929. Some sources suggest, Bhagat singh was the first person who gave call for Purna Swaraj (total Independence). This declaration made the Congress and Indian nationalists to fight for one mission that is Purna Swaraj (complete self-rule). Jawaharlal Nehru hoisted Indian flag on 31 December 1929 on the banks of Ravi river, in Lahore, Pakistan. the congress announced to celebrate Indian Independence on 26th January.<br /> <br />

      <a href="https://gk.practisepoint.com/2019/08/indian-independence-p8-purna-swaraj.html" target="_blank"> <button class="button">Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" style="background-color: red;">Quiz Collection</button></a>
    </div>
    <div class="column-33">
      <img height="471" src="https://1.bp.blogspot.com/-riUIMZDavbs/XUuGU68LlxI/AAAAAAAAALg/0ig8CvxhRoklV6vNZdQ3ZsUAIFiB9bQ1ACLcBGAs/s320/india-flag.jpg" width="335" />
    </div>
  </div>
</div>
<!-- Arrival of Mahatma Gandhi, 1915 -->
<div class="container">
  <div class="row">
    <div class="column-33">
      <img alt="App" height="471" src="https://1.bp.blogspot.com/-pif5_m3sFyI/XU5cji3jamI/AAAAAAAAAMo/zNz-Jc0VK2c3TtEmhrWQo7Ay7mFbJDyIwCEwYBhgL/s1600/practisepoint_Indian_Independence.jpg" width="335" />
    </div>
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Azad hind Fauj, 1942</b></h1>
      <h1 class="large-font" style="color: red;">
        <b>All India Forward Bloc</b></h1>
      <span style="font-size: 24px;">Subhas Chandra Bose</span>  was against India's involvement in World War I. He resigned from Congress due to differences in opinion with Gandhi. He created a separate group called Forward Bloc, later called All India Forward Bloc. British authorities placed Bose in house arrest but he escaped to his way through Afghanistan to Nazi Germany to seek Hitler and Mussolini's help for raising an army to fight the British. Hitler advised Bose to go to Japan. In Japan, Bose formed the Azad Hind Army with the help of Japan. Azad Hind Fauj (along with Japanese 15th Army) fought against British Army and captured Andaman and Nicobar islands. INA failed due to poor resources and surrendered to British Army. Bose escaped to Japanese-held Manchuria and thus, entire Azad Hind movement ended.<br /> <br />

      <a href="https://gkpractisepoint.blogspot.com/2019/08/indian-independence-quiz-page1.html" target="_blank"> <button class="button" >Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" style="background-color: red;">Quiz Collection</button></a>
    </div>
  </div>
</div>
<!-- The App Section -->
<div class="container" style="background-color: #f1f1f1;">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Quit India Movement, August 1942</b></h1>
      <h1 class="large-font" style="color: mediumseagreen;">
        <b>Do or Die</b></h1>
      <span style="font-size: 36px;">Bharat Chhodo Andolan</span> Bharat Chhodo Andolan (or Quit India Movement) was a civil disobedience movement. On 8 August 1942, the Quit India resolution was passed at the Mumbai session of the All India Congress Committee (AICC). Mahatma Gandhi gave a slogan "Do or Die !" for immediate self rule. Gandhi urged Indian's to leave their job's and join the movement. Congress led the movement and demanded the transfer of political power from British. The Quit India Movement turned out a failure and lasted till 1943.<br /> <br />

      <a href="https://gkpractisepoint.blogspot.com/2019/08/top-20-best-gk-questions-on-india_10.html" target="_blank"> <button class="button">Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" style="background-color: red;">Quiz Collection</button></a>
    </div>
    <div class="column-33">
      <img height="471" src="https://1.bp.blogspot.com/-riUIMZDavbs/XUuGU68LlxI/AAAAAAAAALg/0ig8CvxhRoklV6vNZdQ3ZsUAIFiB9bQ1ACLcBGAs/s320/india-flag.jpg" width="335" />
    </div>
  </div>
</div>
<!-- Arrival of Mahatma Gandhi, 1915 -->
<div class="container">
  <div class="row">
    <div class="column-33">
      <img alt="App" height="471" src="https://1.bp.blogspot.com/-pif5_m3sFyI/XU5cji3jamI/AAAAAAAAAMo/zNz-Jc0VK2c3TtEmhrWQo7Ay7mFbJDyIwCEwYBhgL/s1600/practisepoint_Indian_Independence.jpg" width="335" />
    </div>
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Partition of India and Pakistan, June 1947</b></h1>
      <h1 class="large-font" style="color: red;">
        <b>India got Independence on 15 August 1947 at 12:02 AM</b></h1>
      <span style="font-size: 24px;">Viscount Louis Mountbatten</span>,  the last British Governor-General of India, announced partition of British India into India and Pakistan on 2 June 1947. India celebrated the Independence on 15 August 1947 at 12:02 AM whereas Pakistan celebrated on 14 August. Jawaharlal Nehru became first Prime Minister. Sardar Vallabhbhai Patel became dupty prime minister who bought 565 princely states into Union of India. On June 1948, Chakravarti Rajagopalachari replaced Mountbatten as Governor General of India.<br /> <br />

      <a href="https://gkpractisepoint.blogspot.com/2019/08/indian-independence-quiz-page1.html" target="_blank"> <button class="button" >Topic Quiz</button></a>
      <a href="https://gk.practisepoint.com/2019/08/indian-independence-quiz-collection.html" target="_blank"> <button class="button" style="background-color: red;">Quiz Collection</button></a>
    </div>
  </div>
</div>
<app-footer></app-footer>
