<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Contact Us</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age1speechbanner1.jpg"  class="offset-s3 responsive-img" alt="Age 18 months Speech Development">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <div class="card-panel">
          <!--<span class="card-title">Who are we?</span> <br/>-->
          <span class="black-text">
        <p>We welcome any suggestions or feedback. We can assure you that we will work on any concern raised by you regarding the website.
        </p>


        </span><br/><br/>
          <!--<span class="card-title">What is our Mission?</span> <br/>-->

          <span class="black-text">
        Please email us at <a href="mailto:practisepoint@gmail.com">practisepoint@gmail.com</a>
        </span><br/><br/>

          <!--<span class="card-title">What is our vision?</span> <br/>-->
          <span class="black-text">
        <!--We love to hear about us and the feedback.-->
        </span><br/><br/>
        </div>

      </div>


    </div>
  </div>
</div>


<app-footer></app-footer>
