<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Speech Development</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/speechdevelopmentbanner.jpg"  class="offset-s3 responsive-img" alt="Speech Development in kids with age">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <p>Speech development is a natural process although the ages
          and stages of children’s speech development differ from child
          to child with time. However, there are some milestones which help
          to identify the normal speech development in the kids.These milestones
          can help parents if they need to spend extra time with kids on speech development.
        </p>
      </div>

      <!--<div>-->
        <!--<div class="row">-->
          <!--<h2><blockquote>-->
          <!--Speech Development-->
          <!--</blockquote></h2>-->
          <!--<div class="col s12 m6 l6">-->

            <!--<div class="card-panel">-->
              <!--<span class="card-title">Speech Development</span> <br/>-->
              <!--<span class="black-text">Australia is a country of striking landscapes, a rich ancient culture and one of the world's strongest economies. It is the sixth-largest country in land area and is the only nation to govern an entire continent.-->
              <!--</span>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col s12 m6 l6">-->

            <!--<div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">-->
              <!--<img src="/assets/img/australia.jpg"  class="offset-s3 responsive-img" alt="dkt all practise questions at one place"></div>-->

            <!--<div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


      <!--<div>-->
        <!--<div class="row">-->
          <!--<h2><blockquote>-->
            <!--Speech development at Age 0-->
          <!--</blockquote></h2>>-->
          <!--<div class="col s12 m6 l6">-->

            <!--<div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">-->
              <!--<img src="/assets/img/newzealand.jpg"  align="center" class="offset-s3 responsive-img" alt="dkt best practise test"></div>-->

            <!--<div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col s12 m6 l6">-->
            <!--<div class="card-panel">-->
              <!--<span class="card-title">New Zealand</span> <br/>-->
              <!--<span class="black-text">New Zealand is a land of great contrasts and diversity. Active volcanoes, spectacular caves, deep glacier lakes, verdant valleys, dazzling fjords, long sandy beaches, and the spectacular snowcapped peaks of the Southern Alps on the South Island—all contribute to New Zealand’s scenic beauty. New Zealand also has a unique array of vegetation and animal life, much of which developed during the country’s prolonged isolation. It is the sole home, for example, of the long-beaked, flightless kiwi, the ubiquitous nickname for New Zealanders.-->
        <!--</span>-->
              <!--<div>-->
                <!--<div>-->
                  <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDGKQ00001">Test</a><br/>-->
                  <!--<a class="waves-effect waves-teal btn-flat" href="/age0activities">Exercise</a><br/>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->





      <!--<div>-->
        <!--<div class="row">-->
          <!--<h2><blockquote>-->
            <!--Speech development at Age 1-->
          <!--</blockquote></h2>-->
          <!--<div class="col s12 m6 l6">-->

            <!--<div class="card-panel">-->
              <!--<span class="card-title"><a href="/math">Mathematics</a></span> <br/>-->
              <!--<span class="black-text">National Assessment Program – Literacy and Numeracy (NAPLAN) is a series of tests focused on basic skills that are administered annually to Australian students. These standardised tests assess students' reading, writing, language (spelling, grammar and punctuation) and numeracy and are administered by the Australian Curriculum, Assessment and Reporting Authority (ACARA). The National Assessment Program is overseen by the Council of Australian Governments Education Council.-->
        <!--</span>-->
              <!--<div>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDGKQ00001">Test</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">First 101 words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">Alphabets</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">Numbers</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">5 Shapes</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">5 Animals</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">5 Fruits </a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">5 Vegetable</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">Bed Time words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">Miscellaneous words</a><br/>-->
              <!--</div>-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="col s12 m6 l6">-->

            <!--<div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">-->
              <!--<img src="/assets/img/maths.jpg"  class="offset-s3 responsive-img" alt="dkt all practise questions at one place"></div>-->

            <!--<div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


      <div>
        <div class="row">
          <h2><blockquote>
            Speech development at Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/age2speechbanner.png"  align="center" class="offset-s3 responsive-img" alt="Speech development at Age 2"></div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/age2speechdevelopment">Speech development at Age 2</a></span> <br/>
              <span class="black-text">Please find series of digital flash cards complied for age 2.
        </span>
              <div>
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDGKQ00001">Test</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=AGE3FIRST5001WORDSFLASHCARD">First 5001 words</a><br/>-->
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE2ALPHABETUPPERFLASHCARD">Alphabets</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE2NUMBERSFLASHCARD">Numbers</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE2SHAPESFLASHCARD">Shapes</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE2ANIMALSFLASHCARD">Animals</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE2FRUITSFLASHCARD">Fruits </a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE2VEGETABLEFLASHCARD">Vegetable</a><br/>
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE2PARKFLASHCARD">Park words</a><br/>-->
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE2TRANSPORTATIONFLASHCARD">Transportation words</a><br/>
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3GARDENFLASHCARD">Garden words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3EMOSTIOWORDSFLASHCARD">Emotion words</a><br/>-->
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3WEATHERWORDSFLASHCARD">Weathers</a><br/>
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3BEDTIMEFLASHCARD">Bed Time words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3MISCELLANEOUSWORDSFLASHCARD">Miscellaneous words</a><br/>-->
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Speech development at Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/age3speechdevelopment">Speech development at Age 3</a></span><br/>
              <span class="black-text">Please find series of digital flash cards complied for age 3.
        </span>
              <div>
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDGKQ00001">Test</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=AGE3FIRST5001WORDSFLASHCARD">First 5001 words</a><br/>-->
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3ALPHABETUPPERFLASHCARD">Alphabets</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3NUMBERSFLASHCARD">Numbers</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3SHAPESFLASHCARD">Shapes</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3ANIMALSFLASHCARD">Animals</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3FRUITSFLASHCARD">Fruits </a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3VEGETABLEFLASHCARD">Vegetable</a><br/>
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3PARKFLASHCARD">Park words</a><br/>-->
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3TRANSPORTATIONFLASHCARD">Transportation words</a><br/>
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3GARDENFLASHCARD">Garden words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3EMOSTIOWORDSFLASHCARD">Emotion words</a><br/>-->
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3WEATHERWORDSFLASHCARD">Weathers</a><br/>
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3BEDTIMEFLASHCARD">Bed Time words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3MISCELLANEOUSWORDSFLASHCARD">Miscellaneous words</a><br/>-->
                <a class="waves-effect waves-teal btn-flat" href="/age3speechdevelopment">More >></a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/age3speechbanner.png"  class="offset-s3 responsive-img" alt="dkt all practise questions at one place"></div>

            <div>
            </div>
          </div>
        </div>
      </div>

      <!--<div>-->
        <!--<div class="row">-->
          <!--<h2><blockquote>-->
            <!--Speech development at Age 4-->
          <!--</blockquote></h2>-->
          <!--<div class="col s12 m6 l6">-->

            <!--<div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">-->
              <!--<img src="/assets/img/dkt.jpg"  align="center" class="offset-s3 responsive-img" alt="dkt best practise test"></div>-->

            <!--<div>-->
            <!--</div>-->
          <!--</div>-->


          <!--<div class="col s12 m6 l6">-->
            <!--<div class="card-panel">-->
              <!--<span class="card-title"><a href="/dkt">Driving Knowledge Test</a></span> <br/>-->
              <!--<span class="black-text">Practise full driving knowledge tests before your dkt Test. It covers all DKT sections and helps you to pass the test in one go. All practice questions are multiple choice and will challenge your knowledge of the road rules. There are 6 set of 45 questions which is similar to actual DKT quiz.-->
        <!--</span>-->
              <!--<div>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDGKQ00001">Test</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">First 1001 words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">Alphabets</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">Numbers</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Shapes</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Animals</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Fruits </a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Vegetable</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Park words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Transportation words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Garden words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Emotion words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Morning words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">10 Bed Time words</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/quiz?id=NEWZLANDSPOTSQ00001">Miscellaneous words</a><br/>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


    </div>
  </div>
</div>


<app-footer></app-footer>
