<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h2>DKT Practise Point</h2>
      </div>
     <div class="col s12" align="center">
        <img src="/assets/img/logo.png"  class="offset-s3 responsive-img"></div>
      <div class="card-content">
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">General Knowledge</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003GK1">Test 1</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003GK2">Test 2</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003GK3">Test 3</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003GK4">Test 4</a>
              </div>
            </div>
          </div>


          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Alcohol and Drugs</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127AD1">Test 1</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Bicycle Safety</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127SB1">Test 1</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">



          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Defensive Driving</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127FD1">Test 1</a>
              </div>
            </div>
          </div>


          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Intersections</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127I01">Test 1</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127I02">Test 2</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127I03">Test 3</a>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Traffic Lights/ Lanes</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181126TL1">Test 1</a>
              </div>
            </div>
          </div>

        </div>





        <div class="row">
          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Negligent Driving</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat">Test 1</a>
                <a class="waves-effect waves-teal btn-flat">Test 2</a>
              </div>
            </div>
          </div>


          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Pedestrians</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat">Test 1</a>
                <a class="waves-effect waves-teal btn-flat">Test 2</a>
              </div>
            </div>
          </div>


          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Seat Belts/Restraints</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127SB1">Test 1</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">



          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Speed Limits</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127SP1">Test 1</a>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Traffic Signs</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003TS1">Test 1</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003TS2">Test 2</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003TS3">Test 3</a>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="card-panel">
              <span class="card-title">Actual Test</span> <br/>
              <span class="black-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003021">Test 1</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003021">Test 2</a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
