<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Practice Point</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/quiz.jpg"  class="offset-s3 responsive-img" alt="dkt Practice test main image">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <p>Practice Point is a Platform to Practice your Knowledge online. It helps to clear your competitive exam in one go. Our experts designed the quiz so that you will cover all topics which may come in the actual exam. You can Practice full test or choose a category to get started.
        </p>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Australia Quiz
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title">Australia</span> <br/>
              <span class="black-text">Australia is a country of striking landscapes, a rich ancient culture and one of the world's strongest economies. It is the sixth-largest country in land area and is the only nation to govern an entire continent.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz/AUSGKQ00001">GK Quiz</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/quiz/AUSSPOTSQ00001">Sports Quiz</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/quiz/AUSPOLIQ00001">Political Quiz</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/quiz/AUSHISTORYQ00001">History Quiz</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/quiz/AUSCORPQ00001">Corporate Quiz</a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/australia.jpg"  class="offset-s3 responsive-img" alt="dkt all Practice questions at one place"></div>

            <div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            New Zealand Quiz
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/newzealand.jpg"  align="center" class="offset-s3 responsive-img" alt="dkt best Practice test"></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title">New Zealand</span> <br/>
              <span class="black-text">New Zealand is a land of great contrasts and diversity. Active volcanoes, spectacular caves, deep glacier lakes, verdant valleys, dazzling fjords, long sandy beaches, and the spectacular snowcapped peaks of the Southern Alps on the South Island—all contribute to New Zealand’s scenic beauty. New Zealand also has a unique array of vegetation and animal life, much of which developed during the country’s prolonged isolation. It is the sole home, for example, of the long-beaked, flightless kiwi, the ubiquitous nickname for New Zealanders.
        </span>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz/NEWZLANDGKQ00001">GK Quiz</a><br/>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz/NEWZLANDSPOTSQ00001">Sports Quiz</a><br/>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz/NEWZLANDPOLIQ00001">Political Quiz</a><br/>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz/NEWZLANDHISTORYQ00001">History Quiz</a><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





      <div>
        <div class="row">
          <h2><blockquote>
            Math Quiz
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/math">Mathematics</a></span> <br/>
              <span class="black-text">National Assessment Program – Literacy and Numeracy (NAPLAN) is a series of tests focused on basic skills that are administered annually to Australian students. These standardised tests assess students' reading, writing, language (spelling, grammar and punctuation) and numeracy and are administered by the Australian Curriculum, Assessment and Reporting Authority (ACARA). The National Assessment Program is overseen by the Council of Australian Governments Education Council.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz/MATHL001E181009000">Year 1</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/quiz/MATHL001E181009001">Year 2</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/quiz/MATHL001E181009002">Year 3</a><br/>
                <a class="waves-effect waves-teal btn-flat" href="/math">Naplan Quiz - Year 3</a><br/>
              </div>

            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/maths.jpg"  class="offset-s3 responsive-img" alt="dkt all Practice questions at one place"></div>

            <div>
            </div>
          </div>
        </div>
      </div>

      <!--<div>-->
        <!--<div class="row">-->
          <!--<h2><blockquote>-->
            <!--Indian Independence Quiz-->
          <!--</blockquote></h2>-->
          <!--<div class="col s12 m6 l6">-->

            <!--<div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">-->
              <!--<img src="/assets/img/practisepoint_fulltest.jpg"  align="center" class="offset-s3 responsive-img" alt="dkt best practise test"></div>-->

            <!--<div>-->
            <!--</div>-->
          <!--</div>-->


          <!--<div class="col s12 m6 l6">-->
            <!--<div class="card-panel">-->
              <!--<span class="card-title"><a href="/indianIndependence">Indian Independence Quiz</a></span> <br/>-->
              <!--<span class="black-text">Indian Independence,Gandhi, who? Inqlaab Zindanbad! The Indian Independence movement was a series of activities which lead to end the British rule from India. There were many periodical movements, under Mahatma Gandhi, Subhash Chandra Bose, Bhagat Singh, which led to India's independence in 1947. The movement spanned a total of 90 years (1857–1947).-->
        <!--</span>-->
              <!--<div>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/indianIndependence">Indian Independence</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div>
        <div class="row">
          <h2><blockquote>
            DKT Practice Test
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/dkt.jpg"  align="center" class="offset-s3 responsive-img" alt="dkt best Practice test"></div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/dkt">Driving Knowledge Test</a></span> <br/>
              <span class="black-text">Practice full driving knowledge tests before your dkt Test. It covers all DKT sections and helps you to pass the test in one go. All practice questions are multiple choice and will challenge your knowledge of the road rules. There are 6 set of 45 questions which is similar to actual DKT quiz.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/dkt">DKT Practice Test</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--<div>-->
        <!--<div class="row">-->
          <!--<h2><blockquote>-->
            <!--India Quiz-->
          <!--</blockquote></h2>-->
          <!--<div class="col s12 m6 l6">-->

            <!--<div class="card-panel">-->
              <!--<span class="card-title">India</span><br/>-->
              <!--<span class="black-text">28 states, 9 union territories, New India is a seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. India is famous for great Independence revolution and its leaders, like Mahatma Gandhi, Narendra Modi, Indira Gandhi etc..-->
        <!--</span>-->
              <!--<div>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/india">GK Quiz</a><br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/main">Sports Quiz</a> - Coming soon<br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/main">Political Quiz</a> - Coming soon<br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/main">Technology Quiz</a> - Coming soon<br/>-->
                <!--<a class="waves-effect waves-teal btn-flat" href="/main">Corporate Quiz</a> - Coming soon<br/>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col s12 m6 l6">-->

            <!--<div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">-->
              <!--<img src="/assets/img/india.jpg"  class="offset-s3 responsive-img" alt="dkt all Practice questions at one place"></div>-->

            <!--<div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


      <div>
        <div class="row">
          <h2><blockquote>
            Speech Development
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/speechdevelopmentbanner.jpg"  align="center" class="offset-s3 responsive-img" alt="Speech Development"></div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/speechdevelopment">Speech Development</a></span> <br/>
              <span class="black-text">Speech development is a natural process like crawling, walking.
                Some kids show signs of speech development early compared to others. This is a natural
                process but we need to consider some milestones which identify the normal speech development
                in your kids. Sometimes, we need to spend some time with our kids to work on speech development.
                We have a dedicated speech development guide for all age groups.
        </span>
              <div>
                    <a class="waves-effect waves-teal btn-flat" href="/speechdevelopment">Speech Development- Main</a>

                    <a class="waves-effect waves-teal btn-flat" href="/age1speechdevelopment">Speech Development in Age 1</a>

                    <a class="waves-effect waves-teal btn-flat" href="/age2speechdevelopment">Speech Development in Age 2</a>

                    <a class="waves-effect waves-teal btn-flat" href="/age3speechdevelopment">Speech Development in Age 3</a>

                    <a class="waves-effect waves-teal btn-flat" href="/age4speechdevelopment">Speech Development in Age 4</a>

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<app-footer></app-footer>
