<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Age 3 Speech Development</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age3speechbanner.png"  class="offset-s3 responsive-img" alt="dkt practise test main image">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <p><span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span> </p>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Speech Development
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title">Speech Development</span> <br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/australia.jpg"  class="offset-s3 responsive-img" alt="dkt all practise questions at one place"></div>

            <div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Alphabets Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3ALPHABETUPPERFLASHCARD"><img src="/assets/img/age3alphabet.png"  align="center" class="offset-s3 responsive-img" alt="Alphabets Flashcards for Age 3"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3ALPHABETUPPERFLASHCARD">Alphabets Flashcards for Age 3</a></span> <br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3ALPHABETUPPERFLASHCARD">Alphabets Flashcards</a><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





      <div>
        <div class="row">
          <h2><blockquote>
            Numbers Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3NUMBERSFLASHCARD">Numbers Flashcards for Age 3</a></span> <br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3NUMBERSFLASHCARD">Numbers Flashcards</a><br/>

              </div>

            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3NUMBERSFLASHCARD"><img src="/assets/img/age3numbers.png"  class="offset-s3 responsive-img" alt="Numbers Flashcards for Age 3"></a></div>

            <div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Fruits Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3FRUITSFLASHCARD"><img src="/assets/img/age3fruit.png"  align="center" class="offset-s3 responsive-img" alt="Fruits Flashcards for Age 3"></a></div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3FRUITSFLASHCARD">Fruits Flashcards for Age 3</a></span> <br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3FRUITSFLASHCARD">Fruits Flashcards</a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Vegetable Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3VEGETABLEFLASHCARD1">Vegetable Flashcards for Age 3</a></span><br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3VEGETABLEFLASHCARD1">Vegetable Flashcards</a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3VEGETABLEFLASHCARD1"><img src="/assets/img/age3vegetable.png"  class="offset-s3 responsive-img" alt="Vegetable Flashcards for Age 3"></a></div>

            <div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Animal Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3ANIMALSFLASHCARD"><img src="/assets/img/age3animal.png"  align="center" class="offset-s3 responsive-img" alt="Animal Flashcards for Age 3"></a></div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3ANIMALSFLASHCARD">Animal Flashcards for Age 3</a></span> <br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3ANIMALSFLASHCARD">Animal Flashcards</a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Transportation Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3TRANSPORTATIONFLASHCARD">Transportation Flashcards for Age 3</a></span><br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3TRANSPORTATIONFLASHCARD">Transportation Flashcards</a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3TRANSPORTATIONFLASHCARD"><img src="/assets/img/age3transportation.png"  class="offset-s3 responsive-img" alt="Transportation Flashcards for Age 3"></a></div>

            <div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Weather Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3WEATHERWORDSFLASHCARD"><img src="/assets/img/age3weather.png"  align="center" class="offset-s3 responsive-img" alt="Weather Flashcards for Age 3"></a>
            </div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3WEATHERWORDSFLASHCARD">Weather Flashcards for Age 3</a></span> <br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3WEATHERWORDSFLASHCARD"> Weather Flashcards</a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Shape Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3SHAPESFLASHCARD">Shape Flashcards for Age 3</a>
              </span><br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3SHAPESFLASHCARD">Shape Flashcards</a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3SHAPESFLASHCARD"><img src="/assets/img/age3shapes.png"  class="offset-s3 responsive-img" alt="Shape Flashcards for Age 3"></a>
            </div>

            <div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Color Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3COLORFLASHCARD"><img src="/assets/img/age3color.png"  align="center" class="offset-s3 responsive-img" alt="Color Flashcards for Age 3"></a>
            </div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3COLORFLASHCARD">Color Flashcards for Age 3</a></span> <br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3COLORFLASHCARD">Color Flashcards</a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Home Appliance Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3HOMEAPPLINCEFLASHCARD">Home Appliance Flashcards for Age 3</a>
              </span><br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3HOMEAPPLINCEFLASHCARD">Home Appliance Flashcards</a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3HOMEAPPLINCEFLASHCARD"><img src="/assets/img/age3homeappliance.png"  class="offset-s3 responsive-img" alt="Home Appliance Flashcards for Age 3"></a>
            </div>

            <div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Gesture Flashcards for Age 3
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard?id=AGE3GESTUREFLASHCARD"><img src="/assets/img/age3gesture.png"  align="center" class="offset-s3 responsive-img" alt=" Gesture Flashcards for Age 3"></a>
            </div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard?id=AGE3GESTUREFLASHCARD">Gesture Flashcards for Age 3</a></span> <br/>
              <span class="black-text">This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience. <br/>
                This is a sample test. We need to replace it with relevant topic related text. We are working on it. Thanks for patience.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard?id=AGE3GESTUREFLASHCARD">Gesture Flashcards</a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<app-footer></app-footer>
