<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Terms and Conditions</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age1speechbanner1.jpg"  class="offset-s3 responsive-img" alt="Age 18 months Speech Development">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <div class="card-panel">
          <!--<span class="card-title">What is our vision?</span> <br/>-->
          <span class="black-text">
            <p>PractisePoint (“us”, “we”, or “our”) owns and operates https://practisepoint.com</p>
            <p>This web page (together with the documents referred to on it) is a binding agreement
                and represents the Terms of Use for our Site.</p>
            <p>Please read these Terms of Use carefully before you start to use the Site.</p>
            <p>By visiting and using this Site, you represent and warrant that you are of legal age and meet
                all of the foregoing eligibility requirements.</p>
            <p>By visiting and using our Site, you indicate that you accept these Terms of Use and that you agree
                to fully comply and abide by them.</p></span>
            <br/><br/>
          <span class="card-title">Content</span> <br/>
          <span class="black-text">
            <p>All information on this Site, including any and all copyrights,
                trademarks, design rights and other intellectual property rights related
                to the content and work product on this Site, are owned by
                "PractisePoint.com". </p>
            <p> The copying, redistribution, use, or publication by you of any such Content
                is strictly prohibited. Your use of our Site does not grant you any ownership
                rights to the Content of our Site. </p>
            <p>The reproducing in any format (including on another website) of any part of
                our Site (including content, images and designs) without our prior written
                consent is strictly prohibited.</p>
            <p>Requests for prior written consent should be addressed to the
                following email: <a href="mailto:practisepoint@gmail.com">practisepoint@gmail.com</a></p>
            <p>You may provide links to our Site as long as</p>
            <ol>
              <li>you clearly give credit to us as the author,
              </li>
              <li>include a hyperlink to our Site,
              </li>
              <li>you do not remove or obscure any portion of our Site by framing or otherwise,
              </li>
              <li>your website does not engage in illegal or pornographic activities, and
              </li>
              <li>provided you do so in a way that is fair and legal and does not damage our
                reputation or take advantage of it.
              </li>
            </ol>
            <p>You must not provide links in such a way as to suggest any form of association,
              approval, or endorsement on our part without our prior written consent.</p>
            <p>You must not provide links from any website that is not owned by you.</p>
            <p>You must cease providing links to our Site immediately upon our request.</p>
          </span><br/><br/>
          <span class="card-title">Limitation of Liability</span>
          <span class="black-text">
            <p>In no event will our company or its directors, employees, or agents be liable to you
              or any third person for any direct, indirect or consequential loss or damage incurred
              in connection with the use, inability to use, or results of the use of our site, any
              websites linked to it and any materials posted on it.</p>
        </span><br/><br/>
          <span class="card-title">Reliance on Content</span>
          <span class="black-text">
            <p>The Content of this Site is meant for informational purposes only and is not intended to
                amount to professional or specific advice on which reliance should be placed.</p>
            <p>Please refer to our disclaimer for further information. </p>
            <p>Every effort has been made to only provide complete and accurate information. However, we disclaim
                all responsibility and liability arising from any inaccuracies and any reliance placed on the
                information presented on this Site and shall not be liable for any damages or harm.</p>
          </span>
          <br/><br/><span class="card-title">Prohibited Use</span>
          <span class="black-text">
            <p>As a condition of your use of the Site, you warrant that you will not use the Site for any purpose
              that is unlawful or prohibited by these Terms.</p>
            <p>You are prohibited from violating or attempting to violate any security features of the Site; damaging,
              disabling, or impairing or attempting to damage, disable or impair the Site; gaining or attempting to
              gain unauthorized access to any portion or feature of the Site; interfering with or causing disruption
              in the operation of the Site; modifying, reverse-engineering, decompiling, disassembling, participating
              in the transfer or sale, creating derivative works or attempting to modify, reverse-engineer, decompile,
              disassemble, participate in the transfer or sale, create derivative works, or in any way exploit, in
              whole or in part, any of the content available on the Site.</p>
            <p>You agree to use the Site for lawful purposes only and any violation of any provision contained in
              these Terms may subject you to civil and/or criminal liability.</p>
          </span>
          <br/><br/><span class="card-title">Amendments</span>
          <span class="black-text">
            <p>We reserve the right to revise these Terms of Use at any time by amending this page.</p>
            <p>All updates will be posted on this page and you are expected to check this page from time to time to take notice of any changes.
</p>
            <p>If you do not agree with the changes to these Terms of Use, you can choose to discontinue the use of our Site.</p>
          </span><br/><br/><span class="card-title">Contact</span>
          <span class="black-text">
            <p>If you have any questions regarding this policy, or your dealings with our website, please <a href="https://practisepoint.com/contactus"> contact us here</a>.</p>
           </span>
          <br/><br/>
        </div>

      </div>


    </div>
  </div>
</div>


<app-footer></app-footer>
