<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Privacy Policy</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age1speechbanner1.jpg"  class="offset-s3 responsive-img" alt="Age 18 months Speech Development">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <div class="card-panel">
          <!--<span class="card-title">Who are we?</span> <br/>-->
          <span class="black-text">
            "Practisepoint.com" does not automatically capture any specific personal
            information from you (like name, phone number or e-mail address)
            that allows us to identify you individually. If the "Practisepoint.com" requests
            you to provide personal information, you will be informed for the
            particular purposes for which the information is gathered and adequate
            security measures will be taken to protect your personal information.
        </span><br/><br/>
          <!--<span class="card-title">What is our Mission?</span> <br/>-->

          <span class="black-text">
            We do not sell or share any personally identifiable information volunteered
            on the "Practisepoint.com" site to any third party (public/private). Any
            information provided to this "Practisepoint.com" will be protected from loss,
            misuse, unauthorized access or disclosure, alteration, or destruction.
        </span><br/><br/>

          <!--<span class="card-title">What is our vision?</span> <br/>-->
          <span class="black-text">
            We gather certain information about the user, such as Internet Protocol
            (IP) addresses, domain name, browser type, operating system, the date
            and time of the visit and the pages visited. We make no attempt to link
            these addresses with the identity of individuals visiting our site unless
            an attempt to damage the site has been detected.
        </span><br/><br/>
        </div>

      </div>


    </div>
  </div>
</div>


<app-footer></app-footer>
