<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>About Us</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age1speechbanner1.jpg"  class="offset-s3 responsive-img" alt="Age 18 months Speech Development">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <div class="card-panel">
          <!--<span class="card-title">Who are we?</span> <br/>-->
          <span class="black-text">
            "Practisepoint.com" is a reflection of the parenthood problem faced by us.
            We are working on the problems faced by us personally and bring a
            solution for the masses. We use this website for our children and hope
            it can be used by others. We don’t charge anything from any parents. It's
            free to use by anyone.
        </span><br/><br/>
          <!--<span class="card-title">What is our Mission?</span> <br/>-->

          <span class="black-text">
        We are open for suggestions and can work on the other parenthood problems if time permits.
        </span><br/><br/>

          <!--<span class="card-title">What is our vision?</span> <br/>-->
          <span class="black-text">
        We love to hear about us and the feedback.
        </span><br/><br/>
        </div>

      </div>


    </div>
  </div>
</div>


<app-footer></app-footer>
