<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Age 2 Speech Development</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age2speechbanner.png"  class="offset-s3 responsive-img" alt="Age 2 Speech Development">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <!--<div class="card-panel">-->
        <!--<span class="card-title">Speech Development</span> <br/>-->
        <!--<span class="black-text">-->
        <!--Toddlers experience a huge development in speech sounds and triple the number-->
        <!--of words they can say between one and two years of age. <br/>-->

        <!--As a result, their speech becomes easier to understand during this time.-->
        <!--At two years old, half of their speech should be understood.  At three years old,-->
        <!--most of their speech should be understood by family and friends.-->
        <!--</span><br/><br/>-->
        <!--<span class="card-title">What can most toddlers do?</span> <br/>-->

        <!--<span class="black-text">-->
        <!--By two years old, toddlers can generally say a range of speech sounds when-->
        <!--talking, such as ‘p’, ‘b’, ‘m’, ‘t’, ‘d’, ‘n’, ‘h’ and ‘w’ sounds. By three years,-->
        <!--toddlers can say even more sounds, such as ‘k’, ‘g’, ‘f’, ‘s’ and ‘ng’.-->
        <!--</span><br/><br/>-->

        <!--<span class="card-title">What do many toddlers still find difficult?</span> <br/>-->
        <!--<span class="black-text">-->
        <!--Many toddlers have difficulty saying sounds correctly all the time. Some words are-->
        <!--more difficult than others for children to say, so they may make some sound errors-->
        <!--(e.g. ‘tat’ for ‘cat’ and ‘pam’ for ‘pram’). Sometimes, children can be more difficult-->
        <!--to understand when they are using longer sentences as they might confuse a few words and-->
        <!--sounds at a time.-->
        <!--</span><br/><br/>-->
        <!--<span class="card-title">What can you do to help?</span> <br/>-->
        <!--<span class="black-text">-->
        <!--You can continue to help your toddler’s speech development by modelling the correct-->
        <!--way of saying words, particularly when they make occasional sound errors.However, if a-->
        <!--toddler’s speech is very difficult for you to understand, or if they are using gestures-->
        <!--(or grunts) in place of words, your child may need additional help.-->

        <!--</span><br/><br/>-->
        <!--<div align="right">-->
        <!--[source: www.facs.nsw.gov.au]-->
        <!--</div>-->
        <!--</div>-->

      </div>

      <!--<div>-->
      <!--<div class="row">-->
      <!--<h2><blockquote>-->
      <!--Flash card and Speech development-->
      <!--</blockquote></h2>-->
      <!--&lt;!&ndash;<div class="col s12 m6 l6">&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash;<div class="card-panel">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<span class="card-title">What is the Digital Flash card?</span> <br/>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<span class="black-text">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;Toddlers experience a huge development in speech sounds and triple the number&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;of words they can say between one and two years of age. <br/>&ndash;&gt;&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash;As a result, their speech becomes easier to understand during this time.&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;At two years old, half of their speech should be understood.  At three years old,&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;most of their speech should be understood by family and friends.&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</span><br/><br/>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<span class="card-title">How flash card helps speech development?</span> <br/>&ndash;&gt;&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash;<span class="black-text">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;By two years old, toddlers can generally say a range of speech sounds when&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;talking, such as ‘p’, ‘b’, ‘m’, ‘t’, ‘d’, ‘n’, ‘h’ and ‘w’ sounds. By three years,&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;toddlers can say even more sounds, such as ‘k’, ‘g’, ‘f’, ‘s’ and ‘ng’.&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</span><br/><br/>&ndash;&gt;&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash;<span class="card-title">how to use digital flash cards?</span> <br/>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<span class="black-text">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;Many toddlers have difficulty saying sounds correctly all the time. Some words are&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;more difficult than others for children to say, so they may make some sound errors&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;(e.g. ‘tat’ for ‘cat’ and ‘pam’ for ‘pram’). Sometimes, children can be more difficult&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;to understand when they are using longer sentences as they might confuse a few words and&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;sounds at a time.&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</span><br/><br/>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<br/>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col s12 m6 l6">&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">&ndash;&gt;-->
      <!--&lt;!&ndash;<img src="/assets/img/age3flashcard.jpg"  class="offset-s3 responsive-img" alt="dkt all practise questions at one place"></div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
      <!--</div>-->


      <div>
        <div class="row">
          <h2><blockquote>
            Alphabets Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD"><img src="/assets/img/age3alphabet.png"  align="center" class="offset-s3 responsive-img" alt="Alphabets Flashcards for Age 2"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD">Alphabets Flashcards for Age 2</a></span> <br/>
              <span class="black-text">Kids start saying some alphabets very quickly due the catchy sounds.
                They may not recognise all alphabets or the correct order at age 2. Parents should show the alphabet flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the alphabets.
                <br/><br/>
                Parents should let child recognize the alphabet before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2ALPHABETUPPERFLASHCARD">Alphabets Flashcards</a><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





      <div>
        <div class="row">
          <h2><blockquote>
            Number Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2NUMBERSFLASHCARD">Number Flashcards for Age 2</a></span> <br/>
              <span class="black-text">Kids love numbers. It plays important role in the life later. Parents should show the number flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the numbers.
                <br/><br/>
                Parents should let child recognize the numbers before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2NUMBERSFLASHCARD">Numbers Flashcards</a><br/>

              </div>

            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2NUMBERSFLASHCARD"><img src="/assets/img/age3numbers.png"  class="offset-s3 responsive-img" alt="Numbers Flashcards for Age 2"></a></div>

            <div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Fruit Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2FRUITSFLASHCARD"><img src="/assets/img/age3fruit.png"  align="center" class="offset-s3 responsive-img" alt="Fruits Flashcards for Age 2"></a></div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2FRUITSFLASHCARD">Fruit Flashcards for Age 2</a></span> <br/>
              <span class="black-text">Fruits help kids to grow faster. Kids enjoy yummy fruits and its flashcard. Parents should show the fruit flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the fruits.
                <br/><br/>
                Parents should let child recognize the fruits before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2FRUITSFLASHCARD">Fruit Flashcards</a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Vegetable Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2VEGETABLEFLASHCARD">Vegetable Flashcards for Age 2</a></span><br/>
              <span class="black-text">Vegetables are important sources of many nutrients which help kids growth. Parents should show the vegetable flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the vegetable.
                <br/><br/>
                Parents should let child recognize the vegetables before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2VEGETABLEFLASHCARD">Vegetable Flashcards</a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2VEGETABLEFLASHCARD"><img src="/assets/img/age3vegetable.png"  class="offset-s3 responsive-img" alt="Vegetable Flashcards for Age 2"></a></div>

            <div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Animal Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2ANIMALSFLASHCARD"><img src="/assets/img/age3animal.png"  align="center" class="offset-s3 responsive-img" alt="Animal Flashcards for Age 2"></a></div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2ANIMALSFLASHCARD">Animal Flashcards for Age 2</a></span> <br/>
              <span class="black-text">Parents should show the animal flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the animal.
                <br/><br/>
                Parents should let child recognize the animals before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2ANIMALSFLASHCARD">Animal Flashcards</a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Transportation Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2TRANSPORTATIONFLASHCARD">Transportation Flashcards for Age 2</a></span><br/>
              <span class="black-text">Parents should show the transportation flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the transportation.
                <br/><br/>
                Parents should let child recognize the transportation before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2TRANSPORTATIONFLASHCARD">Transportation Flashcards</a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2TRANSPORTATIONFLASHCARD"><img src="/assets/img/age3transportation.png"  class="offset-s3 responsive-img" alt="Transportation Flashcards for Age 2"></a></div>

            <div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Weather Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2WEATHERWORDSFLASHCARD"><img src="/assets/img/age3weather.png"  align="center" class="offset-s3 responsive-img" alt="Weather Flashcards for Age 2"></a>
            </div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2WEATHERWORDSFLASHCARD">Weather Flashcards for Age 2</a></span> <br/>
              <span class="black-text">Parents should show the weather flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the weather.
                <br/><br/>
                Parents should let child recognize the weather before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2WEATHERWORDSFLASHCARD"> Weather Flashcards</a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Shape Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2SHAPESFLASHCARD">Shape Flashcards for Age 2</a>
              </span><br/>
              <span class="black-text">Parents should show the shape flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the shape.
                <br/><br/>
                Parents should let child recognize the shapes before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2SHAPESFLASHCARD">Shape Flashcards</a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2SHAPESFLASHCARD"><img src="/assets/img/age3shapes.png"  class="offset-s3 responsive-img" alt="Shape Flashcards for Age 2"></a>
            </div>

            <div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Color Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2COLORFLASHCARD"><img src="/assets/img/age3color.png"  align="center" class="offset-s3 responsive-img" alt="Color Flashcards for Age 2"></a>
            </div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2COLORFLASHCARD">Color Flashcards for Age 2</a></span> <br/>
              <span class="black-text">Parents should show the color flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the color.
                <br/><br/>
                Parents should let child recognize the colors before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
              <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
              </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2COLORFLASHCARD">Color Flashcards</a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Home Appliance Flashcards for Age 2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2HOMEAPPLINCEFLASHCARD">Home Appliance Flashcards for Age 2</a>
              </span><br/>
              <span class="black-text">We are surrounded with home appliances. Parents should show the home appliance flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the home appliances.
                <br/><br/>
                Parents should let child recognize the home appliances before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE2HOMEAPPLINCEFLASHCARD">Home Appliance Flashcards</a><br/>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2HOMEAPPLINCEFLASHCARD"><img src="/assets/img/age3homeappliance.png"  class="offset-s3 responsive-img" alt="Home Appliance Flashcards for Age 2"></a>
            </div>

            <div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<app-footer></app-footer>
