<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l10 offset-s3">
<div>
  <h1 class="xlarge-font" style="text-align: center;">
    NAPLAN</h1>
  <span style="font-size: 14px;"> National Assessment Program – Literacy and Numeracy (NAPLAN) is a series of tests focused on basic skills that are administered annually to Australian students. These standardised tests assess students' reading, writing, language (spelling, grammar and punctuation) and numeracy and are administered by the Australian Curriculum, Assessment and Reporting Authority (ACARA). The National Assessment Program is overseen by the Council of Australian Governments Education Council. </span><br /><br />
</div>
</div>
  <div class="col s12 m10 l12 offset-s3">
<!-- Clarity Section -->
<div class="container" style="background-color: #f1f1f1;">
  <div class="row">
    <div class="column-33">
      <img alt="Naplan_Maths_Year_1" height="471" src="https://1.bp.blogspot.com/-4g3T7ZZ0tkI/XcyPNU4l8UI/AAAAAAABKBY/-EwynGG77i4dOWK94aYRUabWoXSlbvMowCLcBGAsYHQ/s1600/Naplan_Maths_Year_1.jpg" width="335" />
    </div>
    <div class="column-66">
      <h1 class="xlarge-font">
        <b>Year 1</b></h1>
      <h1 class="large-font" style="color: red;">
        <b>Mathematics</b></h1>
      <span style="font-size: 24px;">Mathematics Test: </span>
      This covers the proportion of questions on number, statistics and probability questions with 2D shapes and 3D objects known as ‘geometry items.
      <br /><br />
      <a href="https://gk.practisepoint.com/2019/08/mathematics-year-1.html"> <button class="button" style="background-color: red;"><strong>NAPLAN Practice Test 1</strong></button></a>
    </div>
  </div>
</div>

</div>
</div>
<app-footer></app-footer>
