<app-navbar></app-navbar>
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h2>Math Practise Point</h2>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/practisepoint_main.jpg"  class="offset-s3 responsive-img" alt="dkt practise test main image">
      </div>

      <div class="col s12 m10 l12 offset-s3">
        <p>Practise Point is a Platform to practise your Driver's Knowledge Test (DKT) online. It helps to clear your exam in one go. Our experts designed the quiz so that you will cover all topics which may come in the actual DKT Test. you can practise full test or choose a category to get started.
        </p>
      </div>

      <div>
        <div class="row">
          <blockquote>
            Full Test
          </blockquote>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/practisepoint_fulltest.jpg"  align="center" class="offset-s3 responsive-img" alt="dkt best practise test"></div>

            <div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/quiz?id=DKTNSW00E181003FL1">Full Test</a></span> <br/>
              <span class="black-text">Practise full driving knowledge tests before your dkt Test. It covers all DKT sections and helps you to pass the test in one go. All practice questions are multiple choice and will challenge your knowledge of the road rules. There are 6 set of 45 questions which is similar to actual DKT quiz.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003FL1">Test 1</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003FL2">Test 2</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003FL3">Test 3</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003FL4">Test 4</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003FL5">Test 5</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003FL6">Test 6</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <blockquote>
            All Questions
          </blockquote>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/quiz?id=DKTNSW00E181127ALL">All Questions</a></span> <br/>
              <span class="black-text">Practise all driving knowledge question in one go. It covers all DKT sections and helps you to pass the test in first attempt. It has 350+ multiple choice questions which covers all posibility to pass the dkt test.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127ALL">All Question in One Go</a>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <img src="/assets/img/practisepoint_all.jpg"  class="offset-s3 responsive-img" alt="dkt all practise questions at one place"></div>

            <div>
            </div>
          </div>
        </div>
      </div>
      <blockquote>
        Topic Related Questions
      </blockquote>
      <div class="card-content">

        <div class="row">

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/quiz?id=DKTNSW00E181003GK1">General Knowledge</a></span> <br/>
              <span class="black-text">It covers all concepts for safe car driving which incluses signs, speed limits, intersections and road rules.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003GK1">Test 1</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003GK2">Test 2</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003GK3">Test 3</a>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003GK4">Test 4</a>
              </div>
            </div>
          </div>


          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/quiz?id=DKTNSW00E181127AD1">Alcohol and Drugs</a></span> <br/>
              <span class="black-text">Don't drink and drive. Here is all information for driving after using alcohol, drugs and prescription drugs.
        </span>
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127AD1">Test 1</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6 l6">
              <div class="card-panel">
                <span class="card-title"><a href="/quiz?id=DKTNSW00E181127BS1">Bicycle Safety</a></span> <br/>
                <span class="black-text">Share road with Bicycle riders with safety. Understand all rules and laws related to bicycle safety.
        </span>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127BS1">Test 1</a>
                </div>
              </div>
            </div>


            <div class="col s12 m6 l6">
              <div class="card-panel">
                <span class="card-title"><a href="/quiz?id=DKTNSW00E181127FD1">Defensive Driving</a></span> <br/>
                <span class="black-text">Stay alert behind the wheel and drive safely by following  laws, rules and guidelines.
        </span>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127FD1">Test 1</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6 l6">
              <div class="card-panel">
                <span class="card-title"><a href="/quiz?id=DKTNSW00E181127I01">Intersections</a></span> <br/>
                <span class="black-text">Understand important traffic signs, give way rules and road position at intersections.
        </span>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127I01">Test 1</a>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127I02">Test 2</a>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127I03">Test 3</a>
                </div>
              </div>
            </div>

            <div class="col s12 m6 l6">
              <div class="card-panel">
                <span class="card-title"><a href="/quiz?id=DKTNSW00E181126TL1">Traffic Lights/ Lanes</a></span> <br/>
                <span class="black-text">Understand different traffic lights at signals with correct use of lanes with merging rules.
        </span>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181126TL1">Test 1</a>
                </div>
              </div>
            </div>

          </div>





          <div class="row">
            <div class="col s12 m6 l6">
              <div class="card-panel">
                <span class="card-title"><a href="/quiz?id=DKTNSW00E181126ND1">Negligent Driving</a></span> <br/>
                <span class="black-text">Every second on the road needs your attention. Avoid negligent driving on road.
        </span>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181126ND1">Test 1</a>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181126ND2">Test 2</a>
                </div>
              </div>
            </div>


            <div class="col s12 m6 l6">
              <div class="card-panel">
                <span class="card-title"><a href="/quiz?id=DKTNSW00E181127P01">Pedestrians</a></span> <br/>
                <span class="black-text">Understand all rules related to pedestrians.
        </span>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127P01">Test 1</a>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127P02">Test 2</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col s12 m6 l6">
              <div class="card-panel">
                <span class="card-title"><a href="/quiz?id=DKTNSW00E181127SB1">Seat Belts/Restraints</a></span> <br/>
                <span class="black-text">Its important to follow seat belt rules to prevent fines.
        </span>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127SB1">Test 1</a>
                </div>
              </div>
            </div>





            <div class="col s12 m6 l6">
              <div class="card-panel">
                <span class="card-title"><a href="/quiz?id=DKTNSW00E181127SP1">Speed Limits</a></span> <br/>
                <span class="black-text">Limit your speed according to different driving conditions.
        </span>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181127SP1">Test 1</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6 l6">
              <div class="card-panel">
                <span class="card-title"><a href="/quiz?id=DKTNSW00E181003TS1">Traffic Signs</a></span> <br/>
                <span class="black-text">Understand traffic and warning signs on the road for safe driving skill.
        </span>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003TS1">Test 1</a>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003TS2">Test 2</a>
                  <a class="waves-effect waves-teal btn-flat" href="/quiz?id=DKTNSW00E181003TS3">Test 3</a>
                </div>
              </div>
            </div>


          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
