/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

button.btn-submit{
    width: 100%;
}

button.btn-submit-red{
  width: 100%;
  background-color:#e57373
}
ol {
  background:white;
}

/*ul.answer :hover{
    background-color: #26a69a;
    color: #eafaf9;
    cursor: pointer;
  font-weight: bold;
}*/

ul .selected{
    background-color: #26a69a !important;
    color: #eafaf9 !important;
    font-weight: bold;
}

.questionImage{
  width: 100% !important;
  background-size: 100% 100%;
  margin: 5px auto;
  padding: 5px 20%;
}

.card .card-content .card-title{
  display: inline;
}

.card .card-content p{
  display: inline;
}

.card .custom-card-content {
  padding: 10px;
  border-radius: 0 0 2px 2px;
}

.spiner{
  margin-left: 44%;
  margin-top: 5%;
}

.collectionOverridden{
  margin: 0;
   border: 0px;

}
.collection-item label{
  font-size: 1.1em;
  color: black;
}
[type="radio"]:not(:checked), [type="radio"]:checked{
  opacity: 1;
  position: relative;
  margin-right: 10px
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .questionImage{
    width:100% !important;
    margin:0px;
    padding: 5px 5%;
    background-size: 100% 100%;
  }

}


@media only screen and (max-width: 767px) {
  .card .card-content{
    padding: 0px;
  }
  .card-image{
    padding: 0 20% !important;
  }
  .card h2{
    font-size:1.56rem;
  }
  .hide-on-med-and-down {
    display: block !important;
  }
  .card .custom-card-content {
    padding: 10px;
    padding: 10px;
  }
  .spiner {
    margin-left: 25%;
    margin-top: 10%;
  }

  .questionImage{
   /* max-width: 270px !important;
    max-height: 213px;

    margin: 25px 25px;*/
    width:100% !important;
    margin:0px;
    padding: 15px 20%;
    background-size: 100% 100%;
  }

  .row .col.s8 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s10 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .card-title p{
    padding:15px;
  }

  .card-action{
    padding:0px !important;
  }

  .card-action .col{
    /* padding:0px !important;*/
  }
}


  .row .col.offset-s3 {
    /* margin-left: 25%; */
    margin: 0 auto;
    float: none;
  }

  .row .col.offset-s2 {
    margin: 0 auto;
    float: none;
  }

  /*Megha*/
  .row {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .button-container {
    padding-bottom: 20px;
  }

  .progress-container {
    margin-top: 20px;
  }

  nav ul li {
    float: left;
  }

  .card .card-title {

    font-size: 20px;
    /*letter-spacing: 1px;*/
    font-weight:400;
  }

  .collection .collection-item {
    letter-spacing: 1px;
    font-weight: 300;
  }

  .card-image {
    padding: 0 10% !important;
  }

  .card-image img {
    height: 150px;
  }

  .card-title p {
    padding: 15px 15px 0px 15px;
  }

  .card .card-action {
    padding: 0px;
  }


h2{
  font-size: 2rem;
  padding-top: 1.5rem;

}

.card-title{
  color: #004c4c;
}

.btn-flat{
  padding:0 .5rem;
}

.waves-effect{
  text-transform: capitalize;
  font-weight:500;
  text-decoration: underline;
}

.blue-grey{
  background-color: #004c4c !important;
}

.btn{
  background-color: #004c4c;
}
h3{
  font-size: 1.6rem;
}

.result p{
  padding-top: 0px;
}

.card .card-content{

  padding: 15px;
}


.result-page .card-image{
padding:0 10px !important;
}

.result-page .card-action{
  border-top:0px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

