/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

button.btn-submit{
    width: 100%;
}
ol {
  background:white;
}

ol.answer :hover{
    background-color: #26a69a;
    color: #eafaf9;
    cursor: pointer;
}

ol .selected{
    background-color: #26a69a !important;
    color: #eafaf9 !important;
}

.questionImage{
  width: 120px !important;
  height: 120px;
  margin: 25px 25px;
}

.card .card-content .card-title{
  display: inline;
}

.card .card-content p{
  display: inline;
}

.card .custom-card-content {
  padding: 40px;
  border-radius: 0 0 2px 2px;
}

.spiner{
  margin-left: 44%;
  margin-top: 5%;
}

@media only screen and (max-width: 992px) {
  .card h2{
    font-size:1.56rem;
  }
  .hide-on-med-and-down {
    display: block !important;
  }
  .card .custom-card-content {
    padding: 10px;
    padding: 10px;
  }
  .spiner {
    margin-left: 25%;
    margin-top: 10%;
  }

  .questionImage{
    width: 120px !important;
    height: 113px;
    margin: 25px 25px;
  }

  .row .col.s8 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s10 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

.row .col.offset-s3 {
  /* margin-left: 25%; */
  margin: 0 auto;
  float: none;
}


.row .col.offset-s2{
  margin: 0 auto;
  float: none;
}



